/* styles.css */
     .table-view {
         -fx-background-color: #323232;
         -fx-text-fill: #C8C8C8;
         -fx-font-family: Arial;
         -fx-font-size: 12;
     }

     .table-view .column-header {
         -fx-background-color: #2A2A2A;
         -fx-text-fill: #C8C8C8;
         -fx-font-weight: bold;
     }

     .table-view .table-cell {
         -fx-text-fill: #C8C8C8;
         -fx-alignment: center-left;
     }

     .table-row-cell:selected {
         -fx-background-color: #4A4A4A;
     }

     .table-view .text-field {
         -fx-background-color: #3C3C3C;
         -fx-text-fill: #C8C8C8;
     }

     .table-view .combo-box {
         -fx-background-color: #3C3C3C;
         -fx-text-fill: #C8C8C8;
     }

     .table-view .combo-box .list-cell {
         -fx-background-color: #3C3C3C;
         -fx-text-fill: #C8C8C8;
     }